* {
   	margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
	margin: 0px;
  	padding: 0px;
  	box-sizing: border-box;
	font-family: "Avenir Next", "Avenir", sans-serif;
}

/* HEADER */

#header {
	text-align:center;
	width:100%;
	background-color:#0096a9;
	font-family: 'Charmonman', cursive;
	color:#E0D330;
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
	position: sticky;
	top:0%;
	z-index: 2;
}

#header img {
	width:5%;
	border-right: 3px solid #E0D330;
	padding-right: 1em;
}

#header h1 {
	margin-left: 0.5em;
}

/* MENU */

#menu {
	float:left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height:100vmax;
	width:15%;
	background-color: #0096a9;
	overflow: hidden;
}

#menuLinks {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 2em;
	font-size: larger;
	font-weight: bolder;
	position: fixed;
	top: 50%;
}

#menuLinks a:link, #menuLinks a:visited {
	text-decoration: none;
	color:#E0D330;
}

#menuLinks a:hover {
	text-decoration: none;
	color:white;
}

#menuLinks a:active {
	text-decoration: none;
	color:black;
}

/* CONTENT */

#content {
	display: flex;
	flex-direction: column;
	height: 100vmax;
	background-image: url("images/background.jpg");
	background-repeat: repeat;
	background-size: cover;
}

#contentSec1, #contentSec3 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: large;
	height: 33.3%;
	padding: 2em;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
	background-color: white;
}

#contentSec2 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	font-size: large;
	text-align: right;
	height: 33.4%;
	padding: 2em;
	gap: 0.5em;
	background-color: lightgrey;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
}

#text {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#serTable {
	border: 5px solid white;
	margin: 2em;
	text-align: center;
	font-size: larger;
	border-collapse: collapse;
}

th, td {
	border: 3px solid white;
	padding: 2em;
	background-color: #0096a9;
	color:#E0D330;
}
/* FOOTER */

#footer {
	clear:both;
	position: relative;
	top: auto;
  	width: 100%;
	text-align: center;
	background-color: #0096a9;
	background-image: url("images/duelingScissors.svg");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: 50%;
	display: flex;
	justify-content: space-around;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 6em;
	color: #E0D330;
}

#footer img {
	width: 1.3em;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color:#E0D330;
}

#footer a:hover {
	text-decoration: none;
	color:white;
}

#footer a:active {
	text-decoration: none;
	color:black;
}