* {
   	margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0px;
  	padding: 0px;
  	box-sizing: border-box;
	font-family: "Avenir Next", "Avenir", sans-serif;
	height: 100%;
}

#crt {
	height: 100%;
}

/* HEADER */

#header {
	text-align:center;
	width:100%;
	background-color:#0096a9;
	font-family: 'Charmonman', cursive;
	color:#E0D330;
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
	position: sticky;
	top:0%;
	z-index: 2;
	box-shadow: 0 1px 1px rgba(16,27,30,0.15), 
				0 2px 2px rgba(16,27,30,0.15), 
				0 4px 4px rgba(16,27,30,0.15), 
				0 8px 8px rgba(16,27,30,0.15), 
				0 16px 16px rgba(16,27,30,0.15);
}

#headerLink {
	text-decoration: none;
    display: contents;
    color: currentColor;
}

#header img {
	width:5%;
	border-right: 3px solid #E0D330;
	padding-right: 1em;
}

#header h1 {
	margin-left: 0.5em;
}

/* MENU */

#menu {
	float:left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height:100%;
	width:15%;
	background-color: #0096a9;
	overflow: hidden;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
				rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
				rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#menuLinks {
	position: fixed;
	top: 50%;
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 2em;
	font-size: larger;
	font-weight: bolder;
}

#menuLinks a:link, #menuLinks a:visited {
	text-decoration: none;
	color:#E0D330;
}

#menuLinks a:hover {
	text-decoration: none;
	color:white;
}

#menuLinks a:active {
	text-decoration: none;
	color:black;
}

/* CONTENT */

#content {
	display: flex;
	flex-direction: column;
	background-image: url("images/background.jpg");
	background-repeat: repeat;
	background-size: cover;
	height: 100%;
}

#contentSec1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: large;
	height: 40%;
	padding: 2em;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
	background-color: white;
	margin: 2em;
	border-radius: 5px;
	overflow: hidden;
}

#contentSec2 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	font-size: large;
	text-align: right;
	height: 40%;
	padding: 2em;
	gap: 0.5em;
	background-color: lightgrey;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);
	margin: 2em;
	border-radius: 5px;
	overflow: hidden;
}

#text {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#serTable {
	border: 5px solid white;
	margin: 2em;
	text-align: center;
	font-size: larger;
	border-collapse: collapse;
}

th, td {
	border: 3px solid white;
	padding: 2em;
	background-color: #0096a9;
	color:#E0D330;
}

#serTable a:link, #serTable a:visited {
	text-decoration: none;
	color:#E0D330;
}

#serTable a:hover {
	text-decoration: none;
	color:white;
}

#serTable a:active {
	text-decoration: none;
	color:black;
}

form {
	margin: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2em;
	background-color: #0096a9;
	color: #E0D330;
	padding: 2em;
	border-radius: 5px;
}

#formContent {
	display: flex;
	gap: 10em;
}

#left, #right {
	display: flex;
	flex-direction: column;
	gap: 3em;
}

#tel {
	margin-bottom: 3.2em;
}

input[type="text"], input[type="tel"], select, textarea {
	border-radius: 5px;
}

#btn {
	border-radius: 5px;
	padding: 1em;
	background-color: black;
	color: white;
}

#btn:hover {
	background-color: #0096a9;
	color: #E0D330;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
				rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
				rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#btn:active {
	background-color: white;
	color: black;
}

#btn{
	margin-right: 23.5em;
}
/* FOOTER */

#footer {
	clear:both;
	position: relative;
	top: auto;
  	width: 100%;
	text-align: center;
	background-color: #0096a9;
	background-image: url("images/duelingScissors.svg");
	background-repeat: no-repeat;
	background-size:contain;
	background-position: 50%;
	display: flex;
	justify-content: space-around;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 6em;
	color: #E0D330;
}

#footer img {
	width: 1.3em;
}

#footer a:link, #footer a:visited {
	text-decoration: none;
	color:#E0D330;
}

#footer a:hover {
	text-decoration: none;
	color:white;
}

#footer a:active {
	text-decoration: none;
	color:black;
}